.header-registro {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 5vh;
}

.header-registro__h1 {
  width: 33%;
  color: white;
  letter-spacing: 4px;
  word-spacing: 3px;
  font-style: italic;
  font-weight: normal;
  font-size: 46px;
  font-family: 'Russo One', sans-serif;
  text-decoration: underline;
  background-color: #26011e;
  border-radius: 10px;
}

.header-cuenta {
  width: 100%;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 5vh;
}

.header-cuenta__h1 {
  width: 29%;
  color: white;
  letter-spacing: 4px;
  word-spacing: 3px;
  font-style: italic;
  font-weight: normal;
  font-size: 46px;
  font-family: 'Russo One', sans-serif;
  text-decoration: underline;
  background-color: #26011e;
  border-radius: 10px;
}

.bodycuenta {
  background-image: url(/img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-cuenta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-cuenta__div {
  color: white;
  margin-top: 8vh;
  background-color: #26011e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  width: 40%;
}

.main-cuenta__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
}

.main-cuenta__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-cuenta__legend {
  text-transform: uppercase;
  font-size: 20px;
  padding: 5px;
}

.main-cuenta__a {
  color: white;
  text-decoration: underline;
  padding: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.main-cuenta__a:hover {
  color: #e600ff;
}

.main-cuenta__input {
  text-transform: uppercase;
  border-radius: 7px;
  padding: 4px;
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 15px;
}

.main-cuenta__input:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #e600ff;
}

.footer-cuenta {
  margin-top: 28vh;
  margin-left: 2rem;
}

.footer-cuenta__h5 {
  color: white;
}

.bodyregistro {
  background-image: url(/img/fiesta2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-registro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-registro__sec {
  color: white;
  margin-top: 8vh;
  background-color: #26011e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  width: 40%;
}

.main-registro__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-registro__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-registro__legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  padding: 5px;
}

.main-registro__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-registro__label {
  margin-left: 10px;
  font-size: 18px;
}

.main-registro__a {
  color: white;
  text-decoration: underline;
  padding-right: 5px;
  -webkit-transition: 1s;
  transition: 1s;
}

.main-registro__a:hover {
  color: #e600ff;
}

.main-registro__input {
  border-radius: 7px;
  padding: 4px;
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 15px;
}

.main-registro__input:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #e600ff;
}

.footer-registro {
  margin-top: 13vh;
  margin-left: 2rem;
}

.footer-registro__h5 {
  color: white;
}

.offcanvas-title {
  color: white;
}

.offcanvas-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offcanvas-row {
  width: 90%;
}

.offcanvas-input {
  margin-top: 1vh;
  border-radius: 4px;
  text-transform: uppercase;
  width: 20%;
  -webkit-transition: 1s;
  transition: 1s;
}

.offcanvas-input:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #e600ff;
}

.header-index {
  color: white;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-index__h1 {
  letter-spacing: 4px;
  word-spacing: 3px;
  font-style: italic;
  font-weight: normal;
  font-size: 50px;
  font-family: 'Russo One', sans-serif;
  text-decoration: underline;
}

.header-index__div {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-index__h4 {
  -webkit-transition: 1s;
  transition: 1s;
}

.header-index__container {
  background-color: #11000a;
  width: 35%;
  border-radius: 10%;
  border: solid 2px #26011e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  color: white;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

a:hover {
  color: #e600ff;
  text-decoration: underline;
}

.offcanvas-header {
  background-color: #26011e;
}

.offcanvas.show {
  width: 50%;
}

.offcanvas-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #26011e;
  color: beige;
}

.offcanvas-creador {
  background-image: url(/img/fiesta2.jpg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
  text-align: start;
  padding-left: 3vh;
}

.offcanvas-textarea {
  background-color: #26011e;
  color: white;
}

.body-index {
  background-image: url(/img/estrellas.jpg);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-size: 30rem;
}

.section-index {
  overflow-y: scroll;
  margin: 1px 1px 1px 1px;
  border: solid 2px #26011e;
  line-height: 1.1;
  border-radius: 10px;
  background-color: #11000a;
  color: white;
  height: 63vh;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-index__after {
  padding-top: 2vh;
  -o-object-fit: cover;
     object-fit: cover;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.section-index__after:hover {
  -webkit-transform: scale(1.5) translate(100px, 20px);
          transform: scale(1.5) translate(100px, 20px);
}

.section-index__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-index__card {
  background-color: #26011e;
  width: 90%;
  border-radius: 10px;
  padding: 1rem;
}

.section-index__table {
  width: 90%;
  height: 60%;
}

.section-index__th {
  padding-left: 1rem;
  border: solid 2px #e600ff;
}

.section2-index {
  overflow-y: scroll;
  margin: 1px 1px 1px 1px;
  border: solid 2px #26011e;
  line-height: 1.1;
  border-radius: 10px;
  background-color: #11000a;
  color: white;
  height: 63vh;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr, 1fr;
      grid-template-columns: 2fr, 1fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "h1 h1 " "aa bb" "cc dd";
}

.section2-index__h3 {
  grid-area: "h1";
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.section2-index__a {
  grid-area: "aa";
}

.section2-index__b {
  grid-area: "bb";
}

.section2-index__c {
  grid-area: "cc";
}

.section2-index__d {
  grid-area: "dd";
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 10%;
}

.carousel-item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-control-prev {
  position: fixed;
}

.carousel-control-next {
  position: fixed;
}

.footer-index {
  border: solid 2px #26011e;
  border-radius: 7px;
  background-color: #11000a;
}

.footer-index__img {
  border-radius: 3px;
  width: 3%;
}

.footer-index__h4 {
  margin-left: 1rem;
  color: white;
}

@media only screen and (max-width: 480px) {
  .bodycuenta {
    background-position: center;
  }
  .header-cuenta .header-cuenta__h1 {
    font-size: 30px;
    width: 90%;
  }
  .main-cuenta__div {
    width: 100%;
  }
  .main-cuenta__legend {
    font-size: 13px;
  }
  .main-cuenta__a {
    font-size: 18px;
  }
  .main-cuenta__a:hover {
    color: #e600ff;
  }
  .main-cuenta__h4 {
    font-size: 18px;
  }
  .main-cuenta__input {
    font-size: 15px;
    width: 40%;
  }
  .bodyregistro {
    background-position: center;
  }
  .header-registro__h1 {
    font-size: 30px;
    width: 86%;
  }
  .main-registro__sec {
    width: 100%;
  }
  .main-registro__legend {
    font-size: 13px;
  }
  .main-registro__radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 85%;
  }
  .main-registro__label {
    font-size: 19px;
  }
  .main-registro__a {
    font-size: 18px;
    word-spacing: 3px;
    letter-spacing: 3px;
  }
  .main-registro__a:hover {
    color: #e600ff;
  }
  .main-registro__input {
    width: 40%;
  }
  .header-index__h1 {
    letter-spacing: 2px;
    word-spacing: 0px;
    font-size: 35px;
  }
  .header-index__h4 {
    -webkit-transition: 1s;
    transition: 1s;
    font-size: 20px;
  }
  .header-index__container {
    width: 85%;
  }
  .offcanvas.show {
    width: 100%;
  }
  .section-index {
    height: 74vh;
    width: 80%;
  }
  .section-index__after {
    width: 60%;
  }
  .section-index__after:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .section-index__data {
    padding-left: 12vh;
  }
  .section-index__card {
    font-size: 12px;
  }
  .section-index__table {
    width: 90%;
    height: 20%;
    font-size: 14px;
  }
  .section2-index {
    height: 74vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr, 1fr;
        grid-template-columns: 2fr, 1fr;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "h1 h1 " "aa bb" "cc dd";
  }
  .section2-index__h3 {
    grid-area: "h1";
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
  .section2-index__a {
    grid-area: "aa";
  }
  .section2-index__b {
    grid-area: "bb";
  }
  .section2-index__c {
    grid-area: "cc";
  }
  .section2-index__d {
    grid-area: "dd";
  }
  .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 100%;
    height: 75vh;
  }
  .carousel-item.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1020px) {
  .bodycuenta {
    background-position: center;
  }
  .header-cuenta .header-cuenta__h1 {
    font-size: 40px;
    width: 55%;
  }
  .main-cuenta__div {
    width: 55%;
  }
  .main-cuenta__legend {
    font-size: 15px;
  }
  .main-cuenta__a {
    font-size: 18px;
  }
  .main-cuenta__a:hover {
    color: #e600ff;
  }
  .main-cuenta__h4 {
    font-size: 18px;
  }
  .main-cuenta__input {
    font-size: 15px;
    width: 40%;
  }
  .header-registro__h1 {
    font-size: 35px;
    width: 44%;
  }
  .main-registro__sec {
    width: 60%;
  }
  .header-index__h1 {
    letter-spacing: 2px;
    word-spacing: 0px;
    font-size: 35px;
  }
  .header-index__h4 {
    -webkit-transition: 1s;
    transition: 1s;
    font-size: 20px;
  }
  .header-index__container {
    width: 55%;
  }
  .offcanvas.show {
    width: 100%;
  }
  .section-index {
    overflow-y: scroll;
    width: 80%;
  }
  .section-index__after {
    width: 50%;
  }
  .section-index__after:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .section-index__data {
    padding-left: 30vh;
  }
  .section-index__card {
    font-size: 14px;
  }
  .section-index__table {
    height: 30%;
  }
  .section2-index {
    overflow-y: scroll;
    margin: 1px 1px 1px 1px;
    border: solid 2px #26011e;
    line-height: 1.1;
    border-radius: 10px;
    background-color: #11000a;
    color: white;
    height: 63vh;
    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr, 1fr;
        grid-template-columns: 2fr, 1fr;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "h1 h1 " "aa bb" "cc dd";
  }
  .section2-index__h3 {
    grid-area: "h1";
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
  .section2-index__a {
    grid-area: "aa";
  }
  .section2-index__b {
    grid-area: "bb";
  }
  .section2-index__c {
    grid-area: "cc";
  }
  .section2-index__d {
    grid-area: "dd";
  }
  .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 100%;
    height: 70vh;
  }
  .carousel-item.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}
/*# sourceMappingURL=estilos.css.map */