.header-registro {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 5vh;
}

.header-registro__h1 {
  width: 33%;
  color: white;
  letter-spacing: 4px;
  word-spacing: 3px;
  font-style: italic;
  font-weight: normal;
  font-size: 46px;
  font-family: 'Russo One', sans-serif;
  text-decoration: underline;
  background-color: #26011e;
  border-radius: 10px;
}

.header-cuenta {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 5vh;
}

.header-cuenta__h1 {
  width: 29%;
  color: white;
  letter-spacing: 4px;
  word-spacing: 3px;
  font-style: italic;
  font-weight: normal;
  font-size: 46px;
  font-family: 'Russo One', sans-serif;
  text-decoration: underline;
  background-color: #26011e;
  border-radius: 10px;
}

.bodycuenta {
  background-image: url(/img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-cuenta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-cuenta__div {
  color: white;
  margin-top: 8vh;
  background-color: #26011e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  width: 40%;
}

.main-cuenta__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
}

.main-cuenta__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-cuenta__legend {
  text-transform: uppercase;
  font-size: 20px;
  padding: 5px;
}

.main-cuenta__a {
  color: white;
  text-decoration: underline;
  padding: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.main-cuenta__a:hover {
  color: #e600ff;
}

.main-cuenta__input {
  text-transform: uppercase;
  border-radius: 7px;
  padding: 4px;
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 15px;
}

.main-cuenta__input:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #e600ff;
}

.footer-cuenta {
  margin-top: 30vh;
  margin-left: 2rem;
}

.footer-cuenta__h5 {
  color: white;
}

.bodyregistro {
  background-image: url(/img/fiesta2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-registro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-registro__sec {
  color: white;
  margin-top: 8vh;
  background-color: #26011e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  width: 40%;
}

.main-registro__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-registro__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-registro__legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  padding: 5px;
}

.main-registro__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-registro__label {
  margin-left: 10px;
  font-size: 18px;
}

.main-registro__a {
  color: white;
  text-decoration: underline;
  padding-right: 5px;
  -webkit-transition: 1s;
  transition: 1s;
}

.main-registro__a:hover {
  color: #e600ff;
}

.main-registro__input {
  border-radius: 7px;
  padding: 4px;
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 15px;
}

.main-registro__input:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #e600ff;
}

.footer-registro {
  margin-top: 15vh;
  margin-left: 2rem;
}

.footer-registro__h5 {
  color: white;
}

.offcanvas-title {
  color: white;
}

.offcanvas-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offcanvas-row {
  width: 90%;
}

.offcanvas-input {
  margin-top: 1vh;
  border-radius: 4px;
  text-transform: uppercase;
  width: 20%;
  -webkit-transition: 1s;
  transition: 1s;
}

.offcanvas-input:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #e600ff;
}

.header-tyc {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 5vh;
}

.header-tyc__h1 {
  width: 51%;
  color: white;
  letter-spacing: 4px;
  word-spacing: 3px;
  font-style: italic;
  font-weight: normal;
  font-size: 46px;
  font-family: 'Russo One', sans-serif;
  text-decoration: underline;
  background-color: #26011e;
  border-radius: 10px;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

.body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#11000a), to(#5f015f));
  background-image: linear-gradient(#11000a, #5f015f);
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 400vh;
  text-align: start;
}

.carousel-inner {
  width: 80%;
}

.carousel-item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-index {
  color: white;
  position: relative;
  width: 100%;
  background: #26011e;
  display: block;
  text-align: center;
}

.header-index .header-index__h1 {
  letter-spacing: 4px;
  word-spacing: 3px;
  font-style: italic;
  font-weight: normal;
  font-size: 50px;
  font-family: 'Russo One', sans-serif;
  text-decoration: underline;
}

.offcanvas-header {
  background-color: #26011e;
}

.offcanvas-body {
  background-color: #26011e;
  color: beige;
}

.offcanvas-body2 {
  height: 1vh;
  background-color: #26011e;
}

.textarea {
  background-color: #26011e;
  color: white;
}

.creador {
  background-image: url(/img/fiesta2.jpg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
  text-align: start;
  padding-left: 3vh;
}

.sec {
  display: block;
  margin: 1px 1px 1px 1px;
  border: solid 1px black;
  line-height: 1.6;
  border-radius: 10px;
  background-color: #26011e;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: white;
}

.s4ec:hover {
  -webkit-transform: scale(135%, 135%);
          transform: scale(135%, 135%);
  -webkit-transition: 1s;
  transition: 1s;
}

.section1-index {
  line-height: 0.9;
}

.section2-index {
  padding-top: 10px;
  grid-area: "s2";
}

.section2b-index {
  grid-area: "s2b";
}

.section3-index {
  padding-left: 10px;
  grid-area: "s3";
}

.section4-index {
  text-align: center;
}

.section4-index:hrover {
  -webkit-transform: scale(135%, 135%) translate(-200px, -15px);
          transform: scale(135%, 135%) translate(-200px, -15px);
}

.section5-index {
  padding-left: 100px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 480px) {
  .bodycuenta {
    background-position: center;
  }
  .header-cuenta .header-cuenta__h1 {
    font-size: 30px;
    width: 90%;
  }
  .main-cuenta__div {
    width: 100%;
  }
  .main-cuenta__legend {
    font-size: 11px;
  }
  .main-cuenta__a {
    font-size: 18px;
  }
  .main-cuenta__a:hover {
    color: #e600ff;
  }
  .main-cuenta__h4 {
    font-size: 18px;
  }
  .main-cuenta__input {
    font-size: 15px;
    width: 40%;
  }
  .main-cuenta .main-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 480px) and (min-width: 750px) and (max-width: 1020px) {
  .bodycuenta {
    background-position: center;
  }
  .header-cuenta .header-cuenta__h1 {
    font-size: 30px;
    width: 90%;
  }
  .main-cuenta__div {
    width: 100%;
  }
  .main-cuenta__legend {
    font-size: 11px;
  }
  .main-cuenta__a {
    font-size: 18px;
  }
  .main-cuenta__a:hover {
    color: #e600ff;
  }
  .main-cuenta__h4 {
    font-size: 18px;
  }
  .main-cuenta__input {
    font-size: 15px;
    width: 40%;
  }
  .main-cuenta .main-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card {
    background-color: #26011e;
    width: 90%;
  }
  .joda :hover {
    -webkit-transform: scale(135%, 135%);
            transform: scale(135%, 135%);
  }
  .info1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .after1 {
    width: 20%;
  }
  .after1:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .data {
    width: 30%;
    height: 25vh;
  }
  .after {
    width: 30%;
    height: 25vh;
  }
  .carousel-control-prev {
    padding-top: 16vh;
  }
}
/*# sourceMappingURL=estilos.css.map */