@import"variables";

.body-index{ 
    background-image: url(/img/estrellas.jpg); 
    flex-wrap: wrap;
    background-size: 30rem;}
    

.section-index{
  @include sec();
 display: flex;
 flex-direction: column;
 align-items: center;

  &__after{
    padding-top: 2vh;
    object-fit: cover;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    &:hover{
      transform: scale(1.5) translate(100px, 20px);
      
    }
    
  }
  &__data{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }


  &__card{
    background-color: $bg_medio;
    width: 90%;
    border-radius: 10px;
    padding: 1rem;
    
    
   }





   &__table{
     width: 90%;
     height: 40%
   }
   &__th{
     padding-left: 1rem;
    border: solid 2px $bg_rosa;
   }




}


.section2-index{
  @include sec();
  display: grid;
  grid-template-columns: (2fr,1fr);
  grid-template-rows: repeat(3,1fr);
  
  grid-template-areas:
   "h1 h1 "
   "aa bb"
   "cc dd"
  ;
  

  &__h3{
    
    grid-area: "h1";
    grid-column-start: 1;
    grid-column-end: 4;
  }
  &__a{
    grid-area: "aa";
  }
  &__b{
    grid-area: "bb";
  }
  &__c{
    grid-area: "cc";
  }
  &__d{
    grid-area: "dd";
  }



}





    
    
    .carousel{
      @include center();
      
      position: relative;
      width: 100%;
      height: 150vh;
     

        &-item.active{
          @include center();
      
      }
      &-control-prev{
        position: fixed;
      }
      &-control-next{
        position: fixed;
      }


    }
    
    
   
    
    
    
    
 
    
    
      

    
    
    
    
    
    
    
    
     
    
     
  
 
  
    
    
   