$bg_oscuro: rgb(17, 0, 10);
$bg_violeta: rgb(95, 1, 95);
$bg_medio: rgb(38, 1, 30);
$bg_rosa: rgb(230, 0, 255);


@mixin center {
    display:flex;
    flex-direction: column;
    align-items: center;
}

@mixin header {
   
    position: relative;
   width: 100%;
   
  display: flex;
  flex-direction: column;
  align-items: center;
   text-align: center;
   padding-top: 5vh;
    
}
@mixin h1 {
    color: white;
    letter-spacing: 4px;
    word-spacing: 3px;
    font-style: italic;
    font-weight: normal;
    font-size: 46px;
    font-family: 'Russo One', sans-serif;
    text-decoration: underline;
   
   background-color: $bg_medio;
   border-radius: 10px;
    
}



@mixin input {
   
        border-radius: 7px;
        padding: 4px;
        transition: 1s;
        font-size: 15px;
        &:hover{
            transform: scale(1.1);
            color: rgb(230, 0, 255)  ;
        }
    
}

@mixin sec {
    display: block;
    margin: 1px 1px 1px 1px;
    border: solid 1px $bg_violeta;
    line-height: 1.6;
    border-radius: 10px;
    background-color: $bg_medio;
    color: white;
    height: 200vh;
    width: 80%;
    @include center();
  }