@import"headerregistro";

@import"variables";
@import"headercuenta";
@import"bodycuenta";
@import"footercuenta";
@import"bodyregistro";
@import"footerregistro";
@import"contacto";


@import"headerindex";
@import"bodyindex";
@import"footerindex";



@import"responsive";




*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
  }

 