*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
  }
body{background-image: linear-gradient( rgb(17, 0, 10), rgb(95, 1, 95)) ;}

img{
  object-fit: cover;
 
  }


.carousel{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 400vh;
  text-align: start;
}

.carousel-inner{
 
  width: 80%;
}
.carousel-item.active{
  display: flex;
  flex-direction: column;
  align-items: center;


}

.header-index{
  color: rgb(255, 255, 255);
   position: relative;
  width: 100%;
  background: rgb(38, 1, 30);
  display: block;
  text-align: center;
  
  .header-index__h1{
    letter-spacing: 4px;
    word-spacing: 3px;
    font-style: italic;
    font-weight: normal;
    font-size: 50px;
    font-family: 'Russo One', sans-serif;
    text-decoration: underline;
    
   
  }
}


.offcanvas-header{
background-color: rgb(40, 2, 48);
}
.offcanvas-body{

  background-color: rgb(40, 2, 48);
  color: beige;
}
.offcanvas-body2{
  height: 1vh;
  background-color: rgb(40, 2, 48);
  
}
.textarea{
  background-color: rgb(40, 2, 48);
  color: white;
}
.creador{
  background-image: url(/img/fiesta2.jpg);
  background-repeat: no-repeat;
 background-position-y: center;
 background-size: cover;
  text-align: start;
  padding-left: 3vh;
}
.sec{
 
  display: block;
  margin: 1px 1px 1px 1px;
  border: solid 1px rgb(0, 0, 0);
  line-height: 1.6;
  border-radius: 10px;
  background-color: rgb(26, 3, 24);
  justify-content: left;
  color: white;
}
.s4ec:hover{
  transform: scale(135%,135%);
  transition: 1s;
  
}
 .section1-index{ line-height: 0.9;
    
    
   
   
    
    
    
    }

  
    
  .section2-index{
   
    padding-top: 10px;
   grid-area: "s2";
    
  }

 .section2b-index{
   grid-area: "s2b";

 }
  
  .section3-index{
    padding-left: 10px;
    grid-area: "s3";
  }

  .section4-index{
    text-align: center;
    &:hrover{
      transform: scale(135%, 135%) translate(-200px, -15px);
    }
  }

  .section5-index{
  
  padding-left: 100px;
  text-transform: uppercase;
  }

  a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }



@media only screen and (max-width: 480px) {
  
 .main-index{
    display: flex;
    

   }
 }
  
@media only screen and (min-width: 767px) and (max-width: 1020px)  {
    
  .main-index{
      
    display: flex;
    

  }

}



  .card{
      background-color: rgb(46, 2, 46);
      width: 90%;
      
      
     }
.joda :hover{
  transform: scale(135%, 135%);
}
.info1{
  display: flex;
}
.after1{
  width: 20%;
}
.after1:hover{
  transform: scale(1.5);
  transition: 1s;
  

}

.data{
  width: 30%;
  height: 25vh;
}
.after{
  width: 30%;
  height: 25vh;
}



.carousel-control-prev{
  padding-top: 16vh;
}