*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
  }
body{background-image: linear-gradient( rgb(17, 0, 10), rgb(95, 1, 95)) ;}

img{
  object-fit: cover;
 
  }





.carousel-item.active{
display: flex;
padding-left: 20vmax;
align-items: center;
}
carousel-item{

  display: inline-block;
}
.header-index{
  color: rgb(255, 255, 255);
   position: fixed;
  width: 100%;
  background: rgb(38, 1, 30);
  display: block;
  
  .header-index__h1{
    letter-spacing: 4px;
    word-spacing: 3px;
    font-style: italic;
    font-weight: normal;
    font-size: 50px;
    font-family: 'Russo One', sans-serif;
    text-decoration: underline;
    text-align: center;
    .header-index__h4{
      text-align: center;
     
    }
  }
}

.main-index{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 100%;
  grid-template-areas: 
  "s1"
  "s2"
  "s3";

  
  
 
  
  

  
}
.offcanvas-header{
background-color: rgb(40, 2, 48);
}
.offcanvas-body{

  background-color: rgb(40, 2, 48);
  color: beige;
}
.offcanvas-body2{
  height: 1vh;
}
.after{
  width: 10%;
 
   
  }


.sec{
  display: flex;

  margin: 1px 1px 1px 1px;
  border: solid 1px rgb(0, 0, 0);
  line-height: 1.6;
  border-radius: 10px;
  background-color: rgb(26, 3, 24);
  justify-content: left;
  color: white;
}
.s4ec:hover{
  transform: scale(135%,135%);
  transition: 1s;
  
}
 .section1-index{ line-height: 0.9;
    padding-top: 24vh;
    grid-area: "s1";
   
   
    
    
    
    }
  .section2-index{
    display: flex;
    padding-top: 10px;
   grid-area: "s2";
    
  }

 
  
  .section3-index{
    padding-left: 10px;
    grid-area: "s3";
  }

  .section4-index{
    text-align: center;
    &:hrover{
      transform: scale(135%, 135%) translate(-200px, -15px);
    }
  }

  .section5-index{
   
  padding-left: 10px;
  text-transform: uppercase;
  }

  a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }



@media only screen and (max-width: 480px) {
  
 .main-index{
    display: flex;
    

   }
 }
  
@media only screen and (min-width: 767px) and (max-width: 1020px)  {
    
  .main-index{
      
    display: flex;
    
  }
}




